/* COLORS */
$background-color: rgb(250, 250, 251);
$primary-color: darken($background-color, 5);
$accent-color: rgb(66, 105, 165);
$hover-accent-color: rgb(41, 83, 145);
$warn-color: rgb(220, 97, 65);
$hover-warn-color: rgb(196, 68, 35);
$success-color: rgb(57, 130, 90);
$hover-success-color: rgb(31, 107, 65);
$light-border-color: rgb(150,150, 150);
$text: rgb(117, 117, 117);

/* DIMENSIONS */
$header-height: 4rem;
$footer-height: 3rem;

/* BORDERS */
$light-thin-border: 1px solid $light-border-color;

/* ELEVATIONS */
$dp1: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
$normal-card: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12), 0 1px 8px 0 rgba(0, 0, 0, .2);
$normal-fab: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
$raised-fab: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);

/* TRANSITIONS */
$ease-in-material: cubic-bezier(.5,.23,.04,1);