@import "_variables.scss";
html, body {
  width: 100vw;
  height: 100vh;
  min-height: fit-content;
  -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
          user-select: none;
  background-color: $primary-color;
  color: $text;
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }
}
header {
  height: $header-height;
  background-color: $primary-color;
  box-shadow: $dp1;
  z-index: 999;
  display: flex;
  .logo-and-title {
    margin: auto 0;
    padding: 0 1em;
    display: flex;
    >* {
      cursor: pointer;
      margin: auto;
      margin-left: .5em;
    }
    >i {
      font-size: 2em;
    }
  }
}
main {
  flex: 1;
  display: inherit;
  box-shadow: $dp1;
  min-height: fit-content;
  >.main-content {
    flex: 1;
    background-color: $background-color;
    display: inherit;
    padding: 4em 0;
    max-width: 100%;
    >form {
      background-color: lighten($primary-color, 8);
      border-radius: 10px;
      min-width: 60%;
      min-height: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      >div.form-header {
        min-height: 8em;
        display: flex;
        box-shadow: $dp1;
        border-radius: 10px;
        div.clear-form-button-wrapper {
          margin: auto 0 0 3em;
          transform: translateY(28px);
          z-index: 200;
        }
      }
      >div.form-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 2em;
        padding-top: 3em;
        border-radius: 10px;
        >div.fields-wrapper {
          margin-bottom: auto;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          >div.input-wrapper {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;
            &:nth-child(odd) {
              padding-right: 1em;
            }
            &:nth-child(even) {
              padding-left: 1em;
            }
            >label {
              margin-left: 1em;
              width: fit-content;
              font-size: .75em;
              font-weight: bold;
            }
            >input {
              height: 100%;
            }
          }
        }
        >button[type="submit"] {
          margin-left: auto;
          padding: 0 1.5em;
          min-height: 3em;
          max-height: 3em;
          width: fit-content;
        }
      }
    }
  }
}
footer {
  height: $footer-height;
  background-color: $primary-color;
  border-top: $light-thin-border;
  z-index: -1;
}
input, button {
  border: none;
  padding: 1em 1.5em;
  border-radius: 2px;
  height: max-content;
  transition: .3s ease;
  box-shadow: $dp1;
  &:focus, &:hover {
    outline: none;
    box-shadow: $normal-card;
  }
}
input {
  border-bottom: 2px solid lighten($accent-color, 20);
  &:focus, &:hover {
    border-bottom-color: $accent-color;
  }
  &[type="range"] {
    padding-left: 1em;
    padding-right: 1em;
  }
  &:valid {
    color: $success-color;
    border-bottom-color: $success-color;
  }
  &:invalid {
    color: $danger-color;
    border-bottom-color: $danger-color;
  }
}
button {
  background-color: $accent-color;
  color: white;
  cursor: pointer;
  &:focus, &:hover {
    background-color: $hover-accent-color;
  }
}
.card {
  box-shadow: $normal-card;
}
.fab {
  width: 56px;
  height: 56px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  transition: .3s $ease-in-material;
  box-shadow: $normal-fab;
  cursor: pointer;
  z-index: 200;
  &:focus, &:hover {
    box-shadow: $raised-fab;
    transform: scale(1.025);
  }
}
.primary {
  background-color: $accent-color;
  &:focus, &:hover {
    background-color: $hover-accent-color;
  }
}
.danger {
  background-color: $danger-color;
  &:focus, &:hover {
    background-color: $hover-danger-color;
  }
}
.warn {
  background-color: $warn-color;
  &:focus, &:hover {
    background-color: $hover-warn-color;
  }
}
.success {
  background-color: $success-color;
  &:focus, &:hover {
    background-color: $hover-success-color;
  }
}
@media (max-width: "720px") {
  main {
    >.main-content {
      >form {
        width: 100%;
        div.input-wrapper {
          width: 100% !important;
        }
      }
    }
  }
}