@import "_variables.scss";
html, body {
  width: 100vw;
  height: 100vh;
  min-height: fit-content;
  -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
          user-select: none;
  background-color: $primary-color;
  color: $text;
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }
}
header {
  height: $header-height;
  background-color: $primary-color;
  box-shadow: $dp1;
  z-index: 999;
  display: flex;
  .logo-and-title {
    margin: auto 0;
    padding: 0 1em;
    display: flex;
    >* {
      cursor: pointer;
      margin: auto;
      margin-left: .5em;
    }
    >i {
      font-size: 2em;
    }
  }
}
main {
  flex: 1;
  display: flex;
  box-shadow: $dp1;
  min-height: fit-content;
  >.main-content {
    flex: 1;
    background-color: $background-color;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    >form {
      background-color: lighten($primary-color, 8);
      border-radius: 10px;
      min-width: 60%;
      min-height: calc(100% - 8em);
      display: flex;
      flex-direction: column;
      transition: .3s $ease-in-material;
      &.dragged {
        transition-duration: 0s;
      }
      &.maximized {
        width: 100%;
        height: 100%;
        border-radius: 0;
      }
      &.minimized {
        min-width: fit-content;
        max-width: fit-content;
        min-height: fit-content;
        max-height: fit-content;
        position: absolute;
        bottom: 0;
        div.form-status-bar {
          border-bottom-right-radius: inherit;
          border-bottom-left-radius: inherit;
          >div.status-bar-title {
            display: none;
          }
          .triangle-down {
            transform: rotateX(180deg);
          }
        }
        >*:not(.form-status-bar) {
          display: none;
        }
      }
      >div.form-status-bar {
        width: 100%;
        height: 22px;
        display: flex;
        background-color: $hover-accent-color;
        border-top-right-radius: inherit;
        border-top-left-radius: inherit;
        &:hover {
          >div.status-bar-title {
            opacity: 1;
          }
        }
        >div.status-bar-title {
          color: $text-secondary;
          position: absolute;
          top: 50%;
          left: 50%;
          opacity: .5;
          font-size: .8em;
          transform: translate(-50%, -50%);
          transition: .3s $ease-in-material;
          pointer-events: none;
        }
        >ul.action-buttons-wrapper {
          margin-left: auto;
          padding: 0 4px;
          list-style-type: none;
          display: flex;
          >li {
            margin: auto 3px;
            transition: .2s $ease-in-material;
            opacity: .5;
            cursor: pointer;
            &:not(.triangle-down) {
              width: 10px;
              height: 10px;
              background-color: $text-secondary;
            }
            &.circle {
              border-radius: 50%;
            }
            &.triangle-down {
              border-top: 10px solid $text-secondary;
              border-right: 6px solid transparent;
              border-left: 6px solid transparent;
            }
            &:hover {
              opacity: 1;
            }
          }
        }
      }
      >div.form-header {
        height: 8em;
        display: flex;
        box-shadow: $dp1;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: $accent-color;
        >div.form-header-title {
          color: $text-secondary;
          text-align: center;
          margin: auto;
          text-shadow: 1px 1px #333;
        }
        >div.clear-form-button-wrapper {
          position: absolute;
          bottom: -28px;
          left: 2em;
          z-index: 200;
        }
      }
      >div.form-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 2em;
        padding-top: 3em;
        border-radius: 10px;
        >div.fields-wrapper {
          margin-bottom: auto;
          padding: 1em;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          border-radius: 10px;
          box-shadow: $dp1;
          >div.input-wrapper {
            width: calc(50% - .5em);
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: .5em;
            transition: .3s $ease-in-material;
            >input {
              background-color: #fdfdfd;
              border-top-right-radius: 10px;
              border-top-left-radius: 10px;
            }
            >label {
              margin-left: 1em;
              width: fit-content;
              min-height: calc(1rem - 2px);
              font-size: .7em;
              font-weight: bold;
              opacity: .9;
              transition: inherit;
              pointer-events: none;
            }
            input:not([type="range"]):not(:focus).empty ~ label {
              opacity: .5;
              font-size: .75em;
              margin-left: 1.5em;
              transform: translateY(28px);
            }
          }
        }
        >button[type="submit"] {
          margin: 1.5em 0 0 auto;
          >label {
            pointer-events: none;
          }
          &.shrinked {
            >label {
              display: none;
            }
          }
          &:not(.shrinked) {
            min-height: 3em;
            padding: 0 1.5em;
            max-height: 3em;
            width: fit-content;
          }
        }
      }
    }
  }
  .toast {
    padding: .75em 1em;
    border-radius: 10px;
    bottom: -4em;
    left: 50%;
    font-size: small;
    position: fixed;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    color: $text-secondary;
    background-color: rgba(black, .65);
    transform: translateX(-50%);
    transition: .3s $ease-in-material;
    &.shown {
      bottom: $footer-height;
    }
  }
}
footer {
  height: $footer-height;
  background-color: $primary-color;
  border-top: $light-thin-border;
  z-index: -1;
}
input, button {
  border: none;
  padding: 1em 1.5em;
  border-radius: 2px;
  height: max-content;
  transition: .3s ease;
  &:focus, &:hover {
    outline: none;
  }
}
input {
  background-color: transparent;
  border-bottom: 2px solid lighten($accent-color, 20);
  &[type="range"] {
    padding-left: 1em;
    padding-right: 1em;
  }
  &:focus, &:hover {
    border-bottom-color: $accent-color;
    ~ label {
      color: $accent-color;
    }
  }
  &:valid {
    border-bottom-color: $success-color;
    ~ label {
      color: $success-color;
    }
  }
  &:invalid {
    border-bottom-color: $danger-color;
    ~ label {
      color: $danger-color;
    }
  }
}
button {
  background-color: $accent-color;
  color: white;
  cursor: pointer;
  &:focus, &:hover {
    background-color: $hover-accent-color;
  }
  >i {
    transition: .3s $ease-in-material;
    pointer-events: none;
    &.done {
      transform: rotateZ(360deg);
    }
  }
}
.card {
  box-shadow: $normal-card;
}
.fab {
  width: 56px;
  height: 56px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  transition: .3s $ease-in-material;
  box-shadow: $normal-fab;
  cursor: pointer;
  z-index: 200;
  &:focus, &:hover {
    box-shadow: $raised-fab;
    transform: scale(1.025);
  }
}
body .primary {
  background-color: $accent-color;
  &:focus, &:hover {
    background-color: $hover-accent-color;
  }
}
body .danger {
  background-color: $danger-color;
  &:focus, &:hover {
    background-color: $hover-danger-color;
  }
}
body .warn {
  background-color: $warn-color;
  &:focus, &:hover {
    background-color: $hover-warn-color;
  }
}
body .success {
  background-color: $success-color;
  &:focus, &:hover {
    background-color: $hover-success-color;
  }
}
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%; /* Required for Edge*/
  margin-top: 8px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  @mixin slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 0;
    margin-top: -1.25em;
    background-color: $success-color;
    border: .5em solid $success-color;
    border-radius: 50% 50% 0 50%;
    transform: rotateZ(45deg);
    cursor: pointer;
  }
  &::-webkit-slider-thumb { @include slider-thumb; }
  &::-moz-range-thumb { @include slider-thumb; }
  &::-ms-thumb { @include slider-thumb; }
}
@media (max-width: "720px") {
  body { /* Adding "body" for more precedence of priority. */
    main {
      >.main-content {
        >form {
          width: 100%;
          >div.form-header {
            height: 6em;
          }
          >div.form-content {
            >div.fields-wrapper {
              >div.input-wrapper {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}